<pre class="interpolation">
    Transfer the data from the TS file into HTML file in other language
    Binding a data into UI from TS file
</pre>

<h3>{{'First Name: ' + firstName + 'Last Name: ' + lastName}}</h3>

Below method Example<h3>{{getName()}}</h3>

Below object Example  = <h3>{{obj.username}}</h3>
<h3>{{obj.mobile}}</h3>


Below array Example =
<h3>{{arr[0]}}</h3>
<h3>{{arr[1]}}</h3>
<h3>{{arr[2]}}</h3>

<h3>{{arr}}</h3>

Below Arithmetic Example = 
<h3> 10 + 5 * 7 - 6 = {{ 10 + 5 * 7 -6 }} </h3> 

Below Tenary Example

<h3>{{age>18? 'able to participate' : 'age must be greater than 18'}}</h3>

Get Full name 
<h3>{{getFullName()}}</h3>
